@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

/* Most browsers Up/down arrow removing*/
input::webkit-outer-spin-button,
input::webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

/*Firefox up/down arrow removing*/
input[type="number"] {
  -moz-appearance: textfield;
}
/*OperaGX up/down arrow removing*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14pt;
    background: rgb(22, 22, 22);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}
.main_frame{
    background: #243851;
    border-radius: 10px;
    border-style: solid;
    border-color: #b9d5e7;
    width: 768px;
    margin: 0 auto;
    margin-top: 10pt;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "title title"
    "input stored"
    "total totalStored";
}
.title{
    grid-area: title;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 24pt;
    text-align: center;
    margin-top: 26.56px;
    margin-bottom: 26.56px;
}
.data_enter{
  grid-area: input;
}

.data_saved{
  grid-area: stored;
}

.data_enter, .data_saved{
    box-sizing: border-box;
    text-align: left;
    position: relative;
    width: 100%;
    padding-left: 20px;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(2,0.5fr);
    grid-template-rows: repeat(10,25px);
    margin-bottom: 10pt;
}
  
input:not(.button){
    margin: auto ;
    width: 100px;
    height:15px;
}

.button{
  width: 100px;
}

.result{
  text-align: center;
  font-weight: 800;
  font-size: 18pt;
  margin-top: 26.56px;
  margin-bottom: 26.56px;
}

.result #result{
  grid-area: total;
}
.result #stored{
  grid-area: totalStored;
}
.yellow{
  color:yellow;
}
.error {
  color: yellow;
  font-weight: 400pt;
  font-size: 12pt;

}
.end{
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  max-width: 576px;
  margin: 25pt auto;
  text-align: justify;
}
.me{
  color: #ebb82b;
}
a.link_calc:link,
a.link_calc:visited{
  color:#12d3b6;
  font: bold;
}
a.link_calc:hover,
a.link_calc:focus,
a.link_calc:active{
  color: #00f7ff;
}
footer {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  margin-left: 4px;
  position: absolute;
  bottom:4px;
}
div#update {
  margin-left: 4px;
}