@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

/* Most browsers Up/down arrow removing*/
input::webkit-outer-spin-button,
input::webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

/*Firefox up/down arrow removing*/
input[type="number"] {
  -moz-appearance: textfield;
}
/*OperaGX up/down arrow removing*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14pt;
    background: #121212;
    color: #717171;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

}
.main_frame{
    background: #282828;
    border-radius: 10px;
    border-style: solid;
    border-color: #282828;
    color: #a8a8a8;

    width: auto;
    min-width: 45vw;
    max-width: 85vw;
    height: auto;
    margin: 0 auto;
    margin-top: 5pt;

    padding: 0 20pt 0 20pt;

    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas:
    "title title"
    "input stored"
    "total totalStored";
}

.title{
  grid-area: title;
  font-weight: 800;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



.data_enter{
  grid-area: input;
}

.data_saved{
  grid-area: stored;
}

.data_enter, .data_saved{
    box-sizing: border-box;
    text-align: left;
    position: relative;
    width: 100%;
    padding: 0 10pt 0 10px;
    align-items: center;
    display:grid;
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-rows: repeat(10, 0.09fr 0.01fr);
}

input:not(.button){
    margin: auto ;
    width: 100%;
    border: none;

    background-color: #575757;
    color: white;

    font-family: inherit;
    text-align: right;

    
    
}

input:not(.button):focus{
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: #bb686f;
}

.button{
  width: 100px;
  border: none;
  background-color: #bb686f;
  color: #121212;
  font-size: 10pt;
  font-weight: 600;
  transition: filter 0.3s ease;

}

.button:hover{
  filter: brightness(1.2);
}

.result{
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.result #result{
  grid-area: total;
}
.result #stored{
  grid-area: totalStored;
}
.yellow{
  color:#9e3344;
}
.error {
  color: yellow;
  font-weight: 400pt;
  font-size: 12pt;

}
.comment{
  font-size: 12pt;
  max-width: 700px;
  margin:15pt auto;
  text-align: justify;
}

a.link_calc:link,
a.link_calc:visited{
  color: #bb686f;
  font: bold;
}
a.link_calc:hover,
a.link_calc:focus,
a.link_calc:active{
  color: #ad4e59;
}
footer {
  position: absolute;
  font-size: 10pt;
  margin-left: 2pt;
  bottom: 4pt;
}

@media (max-width: 700px){
  .main_frame{
    padding: 0 10pt 0 10pt;
    grid-template-columns: none;
    grid-template-rows:0.15fr 0.4fr 0.025fr 0.4fr 0.025fr ;
    grid-template-areas:
    "title"
    "input"
    "total"
    "stored"
    "totalStored"
  }
  .title{
    margin: 5pt 0 5pt 0;
    font-size: 1.3rem;
  }

  .data_enter, .data_saved{
    font-size: 1.1rem;
    grid-template-rows: repeat(10,0.1fr);
    gap: 2px;
  }

  .result{
    margin: 10pt 0 10pt 0;
    font-size: 1.2rem;
  }

  .comment{
    margin: auto;
    margin-bottom: 25pt;
    width: 90vw;
  }
}